# Ignore Python bytecode files
*.pyc
*.pyo

# Ignore Python cache files
__pycache__/

# Ignore virtual environment directories
venv/
env/

# Ignore IDE-specific files
.idea/
.vscode/

# Ignore build artifacts
build/
dist/

# Ignore logs
*.log

# Ignore test coverage data
.coverage

# Ignore any .env files
.env

# Ignore any secret keys
keys.py